doctype html
// This theme is based on Ilya Birman's theme for the e2 blog engine, http://blogengine.ru
include _partial/lib
html(lang=page.lang)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        // build:css /css/bundle.css 
        != css("css/style")
        if theme.social
            != css("css/likely")
        != css("css/custom")
        // endbuild 

        != partial('_partial/seo')

        if config.author
            meta(name="author", content= config.author)

        meta(name="generator", content= "Hexo " + env.version)

        if theme.favicon
            link(rel="shortcut icon", href= theme.favicon)
        if theme.apple_touch_icon
            link(rel="apple-touch-icon", href= theme.apple_touch_icon)

        if theme.rss
            link(rel="alternate", type="application/atom+xml", href= url_for(theme.rss))
    body
        .wrapper
            != partial('_partial/header')
            != body

        != js("js/vendor/jquery")
        if theme.fancy_dates
            != js("js/vendor/moment-with-locales")
            != js("js/vendor/livestamp")

        // build:js /js/bundle.js 
        != js("js/mobile")
        if theme.social
            != js("js/vendor/likely")
        != js("js/custom")

        if ! ('HEXODEV' in process.env) && !('HEXO_DEV' in process.env)
            +configured_lib('yandex_metrika')
            +configured_lib('google_analytics')

        // endbuild 

        if theme.fancy_dates
            != partial('_partial/fancy_dates')
        != partial('_partial/footer')

