doctype html
// This theme is based on Ilya Birman's theme for the e2 blog engine, http://blogengine.ru
include _partial/lib
html(lang=page.lang)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        if 'smoosh' in theme && theme.smoosh
            // smoosh
        if 'useref' in theme && theme.useref
            // build:css /css/bundle.css 

        != css("css/style")
        if theme.social
            != css("css/likely")
        != css("css/custom")

        if 'useref' in theme && theme.useref
            // endbuild 
        if 'smoosh' in theme && theme.smoosh
            // endsmoosh 

        != partial('_partial/seo')
        != partial('_partial/opengraph')

        if config.author
            meta(name="author", content= config.author)

        meta(name="generator", content= "Hexo " + env.version)

        if theme.favicon
            link(rel="shortcut icon", href= theme.favicon)
        if theme.apple_touch_icon
            link(rel="apple-touch-icon", href= theme.apple_touch_icon)

        if theme.rss
            link(rel="alternate", type="application/atom+xml", href= url_for(theme.rss))
    body
        .wrapper
            != partial('_partial/header')
            != body
            != partial('_partial/footer')

        if 'useref' in theme && theme.useref
            // build:js /js/bundle.js 

        != js("js/vendor/jquery/dist/jquery.min")
        if theme.fancy_dates
            != js("js/vendor/moment/min/moment-with-locales.min")
            != js("js/vendor/livestamp/livestamp.min")

        != js("js/vendor/retina.js/dist/retina.min")

        if theme.social
            != js("js/social")
            != js("js/likely")
        != js("js/mobile")
        != js('js/disqus')
        != js("js/custom")

        if ! ('HEXODEV' in process.env) && !('HEXO_DEV' in process.env)
            +configured_lib('yandex_metrika')
            +configured_lib('google_analytics')

        if 'useref' in theme && theme.useref
            // endbuild 

        if theme.fancy_dates
            != partial('_partial/fancy_dates')

