doctype html
// This theme is based on Ilya Birman's theme for the e2 blog engine, http://blogengine.ru
html(lang=page.lang)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        != css("css/style")
        != css("css/custom")
        if theme.social
            != css("css/likely")

        != partial('_partial/seo')

        if config.author
            meta(name="author", content= config.author)

        != partial('_partial/config')
        != partial('_partial/google-analytics')

        if theme.favicon
            link(rel="shortcut icon", href= theme.favicon)
        if theme.apple_touch_icon
            link(rel="apple-touch-icon", href= theme.apple_touch_icon)


    .container

        != partial('_partial/header')

        != body

        != js("js/jquery-2.1.3.min")
        != js("js/dev")
        if theme.social
            != js("js/likely")
        
        != partial('_partial/footer')
