main!= partial('_partial/article', {post: page, single: true})

if theme.social
    != partial('_partial/social')

if page.comments
    if ! ('NODE_ENV' in process.env) || ('NODE_ENV' in process.env && process.env.NODE_ENV != 'development')
        != partial('_partial/comments')

if theme.neighbours
    #neighbours
        if page.prev
            span ←
            a(rel=prev href= url_for(page.prev.path))= page.prev.title

        if page.next
            a(rel=next href= url_for(page.next.path))= page.next.title
            span →

if theme.readmore
    #readmore
        h3= __('readmore')
        #readmore-contents
            for post in site.posts.sort('date', -1).slice(0,9).toArray()
                if (post.slug !== page.slug)
                    p: a(href= url_for(post.path))= post.title
