section#content!= partial('_partial/article', {post: page, single: true})

if theme.social
    != partial('_partial/social')

if theme.neighbours
    section#neighbours
        if page.prev
            span ←
            a(rel=prev href= url_for(page.prev.path))= page.prev.title

        if page.next
            a(rel=next href= url_for(page.next.path))= page.next.title
            span →

if theme.readmore
    section#readmore
        h3= __('readmore')
        div
            for post in site.posts.toArray().slice(0,9)
                if (post.path !== page.path)
                    p: a(href= url_for(post.path))= post.title
