section#tag-info
    - var posts_count = page.posts.data.length;
    p.
        #{posts_count}  #{plural(posts_count, __('posts').split(','))} #{__('with_tag')}
    h2= page.tag
!= partial('_partial/archive')
