@import "nib"

length-overall      = 1000px
length-content      = 820px

border-black        = rgba(0, 0, 160, .15)
border-red          = rgba(224, 80, 32, .5);
border-blue         = rgba(112, 160, 176, .15)
border-blue-body    = rgba(85, 102, 119, .4)

color-navigation    = #008ace

@import "_partial/layout"
@import "_partial/navigation"
@import "_partial/links"
@import "_partial/sections"
@import "_partial/post-contents"
@import "_partial/post-contents-tables"

@import "_partial/mobile"
