@import "nib"

$length-overall      = 1000px
$length-content      = 820px

$text-color          = #111
$background-color    = #fffff8 // thanks to http://www.daveliepmann.com/tufte-css/

$link-color          = #0060a0
$link-border-color   = rgba(85, 102, 119, .4)
$link-hover          =  #e05020
$link-border-hover   = rgba(224, 80, 32, .5);

$navigation-color        = #008ace
$navigation-border-color = #b2ccf0
$navigation-hover        = #cc0000
$navigation-border-hover = $link-border-hover

$header-color        = $text-color
$header-border-color = rgba(0, 0, 160, .15)
$header-hover        = $navigation-hover
$header-border-hover = nav

$mobile              = "screen and (max-width: 640px)"
body
    font 15px "Helvetica Neue", Helvetica, Arial, sans-serif
    background $background-color
    color $text-color
    line-height 1.5em
    max-width $length-overall
    margin-left 7vw
    text-align left

h1, h2
    font-weight normal
    font-size 36px
    margin-bottom 0
    line-height 40px
h3
    font-size 20px
    margin-bottom 0
br
    display none

.hidden
    display none

@media $mobile
    body
        margin 0
        padding 0
    .wrapper
        margin 0 10px


@import "_partial/layout"
@import "_partial/navigation"
@import "_partial/links"
@import "_partial/post/layout"
@import "_partial/post/contents"
@import "_partial/animation"
