if page.prev
    section.top.pagination
        span ↑
        a(href= url_for(page.prev_link))= __('pagination_less', config.per_page)

main
    each post in page.posts.toArray()
        != partial('article', {post: post})

if page.next
    section.bottom.pagination
        span ↓
        a(href= url_for(page.next_link))= __('pagination_more', remaining_posts(page))
