- var is_favorite = ""
if 'tags' in post
    each tag in post.tags.toArray()
        if tag.name == theme.favorite_tag
            - is_favorite = "favorite"

article(class= is_favorite)
    if single
        h2.article.title= post.title
    else
        h2: a.article.title(href= url_for(post.path))= post.title

    .article.time
        time(datetime= date_xml(post.date), data-livestamp= date_xml(post.date))= full_date(post.date, 'DD MMMM, HH:mm') 

    .article.content!= post.content

    if 'tag' in post
        .article.tags
            each tag in post.tags.toArray()
                a(href= url_for(tag.path))= tag.name
