-var title
-var keywords
-var description

if page.title
    -title = page.title
else if is_tag()
    -title = page.tag
else if is_home()
    -title = config.title

-title = title + ' — ' + config.author

title= title

if 'keywords' in page
    - keywords = page.keywords;
else if 'keywords' in theme
    - keywords = theme.keywords;

if keywords
    meta(name="keywords", content= keywords)


if 'description' in page
    - description = page.description;
else if 'description' in theme 
    - description = theme.description

if description
    meta(name="description", content= description)


if page.next
    if 'next_link' in page
        -var next_link = page.next_link
    else
        -var next_link = page.next.path
    link(rel="next", href= url_for(next_link))

if page.prev
    if 'prev_link' in page
        -var prev_link = page.prev_link
    else
        -var prev_link = page.prev.path
    link(rel="prev", href= url_for(prev_link))

link(rel="canonical" href= url)
