-
    var metas = {},
        links = {};

    var title;

mixin meta(name, value)
    - metas[name] = value;
mixin link(name, href)
    - links[name] = url_for(href);
mixin title(value)
    - title = value + ' — ' + config.author;


//- page defaults begin
include seo/title
include seo/keywords
include seo/description

include seo/prev-next
include seo/canonical
//- page default end

if _.has(site.data.seo, page.canonical_path)
    - var configured = site.data.seo[page.canonical_path];
    if _.has(configured, 'title')
        +title(configured['title'])
    if _.has(configured, 'description')
        +meta('description', configured.description)
    if _.has(configured, 'keywords')
        +meta('keywords', configured.keywords.join(', '))

title= title
each value, name in metas
    meta(name= name, value= value)
each href, name in links
    link(rel= name, href= href)

