-var title
-var keywords
-var description

if page.title
    -title = page.title
else if is_tag()
    -title = page.tag
else if is_home()
    -title = config.title


-title = title + ' — ' + config.author

title= title

if page.next
    if 'next_link' in page
        -var next_link = page.next_link
    else
        -var next_link = page.next.path
    link(rel="next", href= next_link)

if page.prev
    if 'prev_link' in page
        -var prev_link = page.prev_link
    else
        -var prev_link = page.prev.path
    link(rel="prev", href= prev_link)

link(rel="canonical" href= url)
