$box-shadow = inset 0 1px 0 rgba(255, 255, 255, .6), 0 22px 40px 4px       rgba(0, 0, 0, .24), 0 0 0 1px rgba(0, 0, 0, .3)

.content
    h4
        margin-top 10px
        margin-bottom 0

    h4 + p
        margin-top 0

    p:first-child
        margin-top 0
        margin-bottom 10px

        @media $mobile
            margin-top 10px

    p
        margin 10px 0

        @media $mobile
            line-height 26px
    ul, ol
        margin-top -10px
        width 90%

        @media $mobile
            padding-left 15px

    ol
        padding 0 0 0 40px
        counter-reset ol

    ul
        padding 0 0 0 1.5em

    li
        margin-bottom 8px
        &:first-child
            margin-top 12px

    ul > li
        list-style-type none
        &:before
            content '\2014\a0'
            margin-left -18px

    ol > li
        list-style-type none
        &:before
            counter-increment ol
            content counter(ol) ')\a0'
            margin-left -18px

    .non-shadow>img, img.non-shadow
        box-shadow none

    > img
        max-width ($length-content * .8)
        margin 10px 0 30px
        box-shadow $box-shadow

        @media $mobile
            margin-bottom 0
            max-width 80%

    // use <figure> to plae non-specific images to the post
    // <figure class="center"> to center-align your image
    // <figure class="shadow"> to add the default shadow to it
    // Use <figcaption> inside of a <figure> tag to place a caption

    > figure
        display inline-block
        margin 10px 0
        padding-left 40px
        &.center
            text-align center
        &.shadow
            margin-bottom 30px
            >img
                box-shadow $box-shadow
        img
            box-shadow none
            margin-bottom 0

            @media $mobile
                margin-bottom 0
                max-width 80%

        figcaption
            text-align center
            color #555

        @media $mobile
            width 100%
            padding-left 0
            margin 0
            text-align center

    // default quote, no author support
    > blockquote
        border-left solid 1px grey
        padding-left .5em
        margin-left 1.5em

        @media $mobile
            border-top 0
            margin-top 0
            padding-top 0

    > .video-container
        position relative
        padding-bottom 56.25% // 16 x 9
        iframe
            position absolute
            width 100%
            height 100%
    > .soundcloud
        // used by `soundcloud` block tag
        max-width 90%
        >iframe
            overflow hidden
            border 0
            max-height 166
            width 100%

    // this class is to be places on every block that can not, for some reasons, fit a viewport
    .wide
        max-width $length-overall
        overflow-x scroll
        -webkit-overflow-scrolling touch

    // fancy tooltips
    span[title], span.tooltipstered // the .tooltipstered class is applied by jquery.tooltipster plugin which is loaded only on mobile devices
        cursor help
        border-bottom 1px dashed grey
        line-height 18px
        -webkit-tap-highlight-color rgba(0, 0, 0, 0) // disable tap highlighting

    // tables inspired by tufte-css, http://www.daveliepmann.com/tufte-css/
    table
        border-spacing 0 5px
        text-align center
        line-height 22px
        margin-top -5px
        th
            text-align left
            border-bottom 1px solid #AAAAAA
            font-weight bold
            vertical-align top
        td
            padding-right 20px
            padding-bottom 26px
            white-space nowrap
            margin-right 50px
            vertical-align top
            &.text
                text-align left
            &.number
                >div, >p
                    width 27px
                    text-align right
                    display inline-block

        // big tables suite well for much ammount of data or a long text
        &.big
            @media $desktop
                width 80%
            @media $mobile
                width 95%
            td
                white-space normal
                text-align left
                padding-bottom 0
