article
    h1, h2
        margin-left -1px
        font-size 24px
        font-weight normal
        line-height 28px
    h4
        margin-top 15px
        margin-bottom 0
    h4 + p
        margin-top 0
    img ~ h4
        margin-top 0
    p:first-child
        margin-top 0
        margin-bottom 10px
    p
        margin 10px 0
    ul, ol
        margin-top -10px
        width 90%
    ol
        padding 0 0 0 40px
        counter-reset ol
    ul
        padding 0 0 0 1.5em
    li
        margin-bottom 8px
        &:first-child
            margin-top 12px
    ul > li
        list-style-type none
        &:before
            content '\2014\a0'
            margin-left -18px
    ol > li
        list-style-type none
        &:before
            counter-increment ol
            content counter(ol) ')\a0'
            margin-left -18px
    img
        max-width ($length-content * .8)
        margin 10px 0 30px
        box-shadow inset 0 1px 0 rgba(255, 255, 255, .6), 0 22px 40px 4px rgba(0, 0, 0, .24), 0 0 0 1px rgba(0, 0, 0, .3)

    figure>img, .non-shadow>img, .non-shadow
        box-shadow none

    .time
        font-size 11px
        letter-spacing .1em
        color rgba(128, 128, 128, .5)

    .tags
        margin-top 10px
        font-size 12px
        a
            margin-right 10px

    figure
        display inline-block
        text-align center
        img
            position relative

    blockquote
        border-left solid 1px grey
        padding-left .5em
        margin-left 1.5em
        footer
            cite, strong
                margin-left 5px
            cite:before
                content '\2014\a0'

    .video-container
        position relative
        padding-bottom 56.25% // 16 x 9
        iframe
            position absolute
            width 100%
            height 100%
    .wide
        max-width $length-overall
        overflow-x scroll
        -webkit-overflow-scrolling touch
