$box-shadow = inset 0 1px 0 rgba(255, 255, 255, .6), 0 22px 40px 4px       rgba(0, 0, 0, .24), 0 0 0 1px rgba(0, 0, 0, .3)

.content
    h4
        margin-top 10px
        margin-bottom 0

    h4 + p
        margin-top 0

    p:first-child
        margin-top 0
        margin-bottom 10px

        @media $mobile
            margin-top 10px

    p
        margin 10px 0

        @media $mobile
            line-height 26px
    ul, ol
        margin-top -10px
        width 90%

        @media $mobile
            padding-left 15px

    ol
        padding 0 0 0 40px
        counter-reset ol

    ul
        padding 0 0 0 1.5em

    li
        margin-bottom 8px
        &:first-child
            margin-top 12px

    ul > li
        list-style-type none
        &:before
            content '\2014\a0'
            margin-left -18px

    ol > li
        list-style-type none
        &:before
            counter-increment ol
            content counter(ol) ')\a0'
            margin-left -18px

    .non-shadow>img, img.non-shadow
        box-shadow none

    > img
        max-width ($length-content * .8)
        margin 10px 0 30px
        box-shadow $box-shadow

        @media $mobile
            margin-bottom 0
            max-width 80%

    > figure
        display inline-block
        margin 10px 0
        padding-left 40px
        &.center
            text-align center
        &.shadow
            margin-bottom 30px
            >img
                box-shadow $box-shadow
        img
            box-shadow none
            margin-bottom 0

            @media $mobile
                margin-bottom 0
                max-width 80%

        figcaption
            text-align center
            color #555

        @media $mobile
            width 100%
            padding-left 0
            margin 0
            text-align center

    > blockquote
        border-left solid 1px grey
        padding-left .5em
        margin-left 1.5em

        @media $mobile
            border-top 0
            margin-top 0
            padding-top 0

    > .video-container
        position relative
        padding-bottom 56.25% // 16 x 9
        iframe
            position absolute
            width 100%
            height 100%

    .wide
        max-width $length-overall
        overflow-x scroll
        -webkit-overflow-scrolling touch

    // fancy tooltips
    span[title], span.tooltipstered // the .tooltipstered class is applied by jquery.tooltipster plugin which is loaded only on mobile devices
        cursor help
        border-bottom 1px dashed grey
        line-height 18px
        -webkit-tap-highlight-color rgba(0, 0, 0, 0) // disable tap highlighting
