article.favorite > h2
    &:after
        content " ⋆"
#neighbours
    font-size 12px
    margin-top 40px
    span
        padding 0 3px
    a + a
        margin-left 25px

#readmore
    column-count 2
    column-gap 40px
    h3
        column-span all
        margin-bottom 0
    p
        margin 10px 0


#social
    margin-top 15px

section#tag-info
    h2
        margin-top 5px
    span
        margin-right 5px

#disqus_thread
    max-width $length-content