article
    h1, h2
        margin-left -1px
        font-size 24px
        font-weight normal
        line-height 28px

    .time
        font-size 11px
        letter-spacing .1em
        color rgba(128, 128, 128, .5)

    .tags
        margin-top 10px
        font-size 12px
        a
            margin-right 10px

    &.favorite > h2
        &:after
            content " ⋆"

#neighbours
    font-size 12px
    margin-top 40px
    span
        padding 0 3px
    a + a
        margin-left 25px

#readmore
    h3
        margin-bottom 10px
#readmore-contents
    column-count 2
    column-gap 40px
    margin-bottom 0
    p
        margin 10px 0
    p:first-child // stupid webkit!
        margin-top 0

#social
    margin-top 15px

section#tag-info
    h2
        margin-top 5px
    span
        margin-right 5px

#disqus_thread
    max-width $length-content