article
    table
        border-collapse collapse
    th, td
        border 1px solid $text-color
        padding 5px
        vertical-align top
    .nowrap
        white-space nowrap

    table.numbered
        counter-reset numbered-table
        tr
            td:first-child
                &:before
                    counter-increment numbered-table
                    content counter(numbered-table) ')\a0'

