border-black        = rgba(0, 0, 160, .15)
border-red          = rgba(224, 80, 32, .5);
border-blue         = rgba(112, 160, 176, .15)
border-blue-body    = rgba(85, 102, 119, .15)

color-navigation    = #008ace

a
    text-decoration none
    border-bottom 1px solid rgba(0, 96, 160, .15)
    color #0060a0
    &:not(:hover)
        transition color .3s ease
    &:visited
        color #70a0b0
        border-color border-blue
    &:hover
        color #e05020
        border-color border-red

nav
    > a
        margin-right 4px
        border-bottom 0
        span
            border-bottom 1px solid #b2ccf0
            color color-navigation
            &:visited
                color navigation-color
            &:hover
                color #CC0000
                border-color border-red

    > a + a::before
        content " ·  "
        display inline-block
        white-space pre
    > a.current
        span
            color black
            border-bottom 0
            &:hover
                color black
        &:hover
            color black

.article.tags
    a
        color #556677
        border-color border-blue-body
        margin-right 10px
        &:hover
            color #e05020
            border-color border-red
h1, h2
    > a
        color black
        border-color border-black
        &:visited
            color black
            border-color border-black
        &:hover
            color #CC0000
            border-color border-red

footer a
    color #70a0b0