body
    font 15px sans-serif
    background white
    line-height 22px

h1, h2
    font-weight normal
    font-size 36px
h3
    font-size 20px

time
    font-size 11px;
    font-weight bold;
    letter-spacing .12em;
    text-transform uppercase;
    margin 0 0 10px 0;

span.disabled 
    color #a0a0a0

footer
    font-size 12px
    a
        color #70a0b0
