header
    margin 0 auto 32px

footer
    margin 40px 0
    font-size 12px
    .footer > span, a
        margin-right 5px
    div
        margin-top -5px
    .email
        margin-bottom 10px
main
    max-width $length-content
    display block

article:first-child
    margin-top 0
article
    margin-top 80px

article.favorite > h2
    &:after
        content " ⋆"