header
    max-width $length-content

footer
    margin 40px 0
    font-size 12px
    line-height 1.5em
    .footer > span, a
        margin-right 5px
    .email
        margin-bottom 10px
main
    max-width $length-content
    display block

article:first-child
    margin-top 0
article
    margin-top 80px

section#tag-info
    h2
        margin-top 5px
    span
        margin-right 5px