a
    text-decoration none
    border-bottom 1px solid link-border-color
    color link-color
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    &:not(:hover)
        transition color .5s ease
    &:hover
        color link-hover
        border-color link-border-hover

.article.tags
    a
        color #556677
        &:hover
            color link-hover
            border-color link-border-hover
h1, h2
    a
        color header-color
        border-color header-border-color
        &:hover
            color header-hover
            border-color header-border-hover

footer a
    color #70a0b0