a
    text-decoration none
    border-bottom 1px solid border-blue-body
    color #0060a0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    &:not(:hover)
        transition color .5s ease
    &:hover
        color #e05020
        border-color border-red

.article.tags
    a
        color #556677
        &:hover
            color #e05020
            border-color border-red
h1, h2
    > a
        color black
        border-color border-black
        &:hover
            color #CC0000
            border-color border-red

footer a
    color #70a0b0