@media screen and (max-width: 640px)
    .container, body
        width 100%
        overflow-x hidden
        margin 0
    header,
    section#tag-info,
    article > h2,
    .article.content > p, .article.content > h4,
    .article.tags,
    section#social,
    footer
        margin-left 2vw
    
    blockquote
        padding-left 2vw

    p
        line-height 24px
    footer
        line-height 30px

    article
        > .time
            display none
        > h1, h2
            line-height 32px
        > p
            line-height 26px
        > .content > img
            align-self middle
        > ol, ul
            padding-left 15px
        blockquote
            border-top 0
    section#readmore, section#neighbours
        display none

    .mobile-centered-image
        margin 0
        text-align center
        width 100%
        overflow-x hidden
