@media screen and (max-width: 640px)
    body
        margin-left 10px
        padding-right 5px
        width 100%
        overflow-x hidden
    
    p
        line-height 24px
    footer
        line-height 30px

    article
        > .time
            display none
        > h1, h2
            line-height 32px
            margin-left 0
            font-size 23px
        > p
            line-height 26px
        > .content > img
            align-self middle
        > ol, ul
            padding-left 15px
        blockquote
            border-top 0
    section#readmore, section#neighbours
        display none

    .mobile-centered-image
        position relative
        left -5px
        margin 0
        text-align center

    .mobile-wide
        max-width $length-overall
        overflow-x scroll
        -webkit-overflow-scrolling touch
