$content-margin = 10px

@media screen and (max-width: 640px)
    body
        margin 0
        padding 0

    .wrapper
        margin 0 $content-margin

    article
        > .time
            display none
        > h1, h2
            line-height 32px
            margin-left 0
            font-size 23px
        > p
            line-height 26px
        > .content > img
            align-self middle
        > ol, ul
            padding-left 15px
        img
            margin-bottom 0
        p:first-child
            margin-top 10px
        blockquote
            border-top 0
            margin-top 0
            padding-top 0

    #neighbours
        display none

    #disqus_thread
        display none

    #readmore
        column-count inherit
        column-gap inherit
    #readmore-contents
        p
            margin 15px 0
        p:first-child
            margin-top 10px
        p:nth-child(n+6)
            display none

    .mobile-centered-image
        position relative
        left -5px
        margin 0
        text-align center

