article
    > h1, h2
        margin-left -1px
        font-size 24px
        font-weight normal
        line-height 28px
        margin-top 35px
    h4
        margin-top 15px
        margin-bottom 0
    h4 + p
        margin-top 0
    > .content > img
        margin-bottom 20px
    > .tags
        font-size 12px
        margin-top -10px
        a
            margin-right 10px
    ul, ol
        margin-top -15px
    ol
        padding 0 0 0 40px
        counter-reset ol
    ul
        padding 0 0 0 1.5em
    li
        margin-bottom 8px
    ul > li
        list-style-type none
        &:before
            content '\2014\a0'
            margin-left -18px
    ol > li
        list-style-type none
        &:before
            counter-increment ol
            content counter(ol) ')\a0'
            margin-left -18px
    time
        font-size 11px;
        font-weight bold;
        letter-spacing .12em;
        text-transform uppercase;
        margin 0 0 10px 0;
    blockquote
        margin 0
        border-top 1px solid black
        > p:first-child
            &:before
                content "«"
        > p:last-child
            &:after
                content "»"

article.favorite > h2
    &:after
        content " ⋆"


section#neighbours
    font-size 12px
    margin-top 40px
    > span
        padding 0 3px
    > a + a
        margin-left 25px

section#readmore
    > div
        column-count 3
        column-gap 40px
        > p
            display inline-block
            margin 0 0 6px
            > a
                padding-top 4px

