#neighbours
    font-size 12px
    margin-top 40px
    span
        padding 0 3px
    a + a
        margin-left 25px

section#readmore
    column-count 2
    column-gap 40px
    h3
        column-span all
    p
        display block
        margin 0 0 6px
        a
            padding-top 4px

#social
    margin-top 15px

section#tag-info
    h2
        margin-top 5px
    span
        margin-right 5px

section.pagination
    font-size 12px
    h3
        display inline-block
        font-size inherit
        padding 0 3px

#disqus_thread
    max-width length-content